
<h3>Manage Users</h3>
<hr>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Registration</th>
            <th>Last login</th>
            <th>Logincount</th>
            <th class="text-end">Operations</th>
        </tr>
    </thead>
    <tbody id="usersList">

    </tbody>
    <tfoot>
        <td colspan="7" class="text-center">Summary: <strong id="usersCount">0</strong> user(s)</td>
    </tfoot>
</table>