<h1>Manage my steps</h1>
<hr>

<div class="row">
<div class="col-6 col-sm-6">
<h6>Új lépés felvétele:</h6>

<div class="form-floating mb-3">
  <input type="number" class="form-control" id="step_ct" placeholder="">
  <label for="step_ct">Lépés szám</label>
</div>

</div>
<div class="col-6 col-sm-6">
    <h6><i class="bi bi-calendar-check-fill"></i>&nbsp;&nbsp;Dátum megadása:</h6>

    <div class="form-floating mb-3">
      <input type="date" class="form-control" id="nw_date" placeholder="Date">
      <label for="nw_date">Dátum:</label>
    </div>
</div>
<div class="col-md-9">
    <button type="button" class="btn btn-primary mb-3" onclick="newStep()"><i class="bi bi-person-walking"></i>&nbsp;&nbsp;Új lépés felvétele</button>
</div>

</div>


<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Home</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="table-tab" data-bs-toggle="tab" data-bs-target="#table-tab-pane" type="button" role="tab" aria-controls="table-tab-pane" aria-selected="false">Table view</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="chart-tab" data-bs-toggle="tab" data-bs-target="#chart-tab-pane" type="button" role="tab" aria-controls="chart-tab-pane" aria-selected="false">Chart view</button>
  </li>
  
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0"><table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Lépés szám</th>
            <th>Létrehozás dátuma</th>
            <th>Utoljára update-elt</th>
            <th>Dátum</th>
            <th class="text-end">Szerkesztés/törlés</th>
        </tr>
    </thead>
    <tbody id="stepsList"></tbody>
    <tfoot>
        <tr>
            <td colspan="6" class="text-center">Summary: <strong id="stepCount">0</strong> step(s)</td>
        </tr>
    </tfoot>
</table>

</div>
  <div class="tab-pane fade" id="table-tab-pane" role="tabpanel" aria-labelledby="table-tab" tabindex="0">
    <br>
    <h3>My Calendar</h3>
    <br>
    <div id="calendar">

    </div><div>
</div>
</div>
  <div class="tab-pane fade" id="chart-tab-pane" role="tabpanel" aria-labelledby="chart-tab" tabindex="0"><canvas id="myChart"></canvas></div>
</div>